body{
    background-color:black;
    margin:0;
}

/* HEADER */

header{
    text-align:center;
    padding:20px;
}

h1{
    font-family:'Orbitron';
    font-size:35px;
    color:#39ff14;
    text-shadow:0 0 10px#39ff14,
    0 0 30px #00eaff;
  
}



/* LINE */

hr{
    width:50%;
    height:2px;
    background:#ff9a00;
    margin:10px auto;
    box-shadow:0 0 20px #ff9a00,
    0 0 30px #ff2bd6;
}

#endline{
    width:50%;
    height:2px;
    background:#39ff14;
    margin:50px auto;
    box-shadow:0 0 20px #39ff14,
    0 0 30px #00eaff;
    
}

/* NAVBAR */

nav{
    text-align:center;
}

.navbar ul{
    display:flex;
    justify-content:center;
    list-style:none;
    padding:0;
}

.navbar li{
    margin:0 25px;
}

.navbar a{
    color:#39ff14;
    font-family:'JetBrains Mono';
    text-decoration:none;
    font-size:15px;
}

.navbar a:hover{
    color:#ff9a00;
    text-shadow:0 0 10px #ff9a00;
}

/* NAVBAR ON TEL */

@media (max-width:768px){

.navbar ul{
    flex-direction:column;
    gap:20px;
}

}

/* BUTTONS */

.container{
    margin-top:20px;
    display:flex;
    gap:25px;
    justify-content:center;
}

.circle-btn{
    width:70px;
    height:70px;
    background-color:#ffd900;
    border-radius:50%;
    border:none;
}

/* NOTES */

.key{
    text-align:center;
}

.key p{
    margin-top:10px;
    color:#ff9a00;
    font-family:'JetBrains Mono';
    font-size:20px;
}

/* CONTENT */

#intro{
    color:#39ff14;
    font-family:'JetBrains Mono';
    text-align:center;
    font-size:15px;
    padding:20px;
}

main{
    color:#ff9a00;
    font-family:'JetBrains Mono';
    text-align:center;
    font-size:15px;
}

main ul{
    list-style-position: inside;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
}
#name{
    color:#ff9a00;
    font-family:'JetBrains Mono';
    text-align:center;
    font-size:15px;
}

#howto{
    color:#ff9a00;
    font-family:'JetBrains Mono';
    text-align:center;
    font-size:15px;
}


h2{
    text-align:center;
    font-family:'Orbitron';
    font-size:20px;
    color:#39ff14;
    text-shadow:0 0 10px #39ff14,
    0 0 20px #00eaff;
}

h3{
    text-align:center;
    font-family:'Orbitron';
    font-size:20px;
    color:#39ff14;
    text-shadow:0 0 10px #39ff14,
    0 0 20px #00eaff;
    margin-top:50px;
}

#notes{
    color:#ff9a00;
    font-family:'JetBrains Mono';
    text-align:center;
    font-size:15px;
}

footer{
    text-align:center;
    color:#39ff14;
    font-family:'JetBrains Mono';
    margin-top:50px;
}

